<div class="row">
	<div class="small-7 columns">
		<h2>Contact Us</h2>
		<p class="supertiny">&nbsp;</p>
		<table cellpadding="3">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>Yahya Al-Makadma</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("ymakadm1@qatar.cmu.edu", "ymakadm1@qatar.cmu.edu", :encode => "javascript") %> 
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>974 974 974 974</td>
			</tr>
		</table>

		<p class="note"><br>I am student of Information Systems at Carnegie Mellon University taking 67-272.  
			</p>
			
			<p>&nbsp;</p>
			<p>&nbsp;</p>
	</div>
</div>